


body {
    font-family: Arial, sans-serif;
    margin-left: 225px;
    margin-right: 250px;
    margin-bottom: 200px;
    padding: 0;
    background-color: #8A2BE2;
  
}

.name {

    font-weight: 750;
    font-size: 65px;
    color: rgb(48, 46, 46);
}

.contact-info {
    text-align: center;
    color: rgb(29, 29, 29);
}

h1 {
    font-size: 40px;


    
    
}

.schools {
    font-weight: 700

}

.jobs {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:blueviolet;
opacity: 0.5;
font-size: 80px;
}

.other-jobs {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:rgb(211, 199, 144);
opacity: 0.5;
font-size: 80px;
}

.degree {
    font-style: italic; 
    font-weight: 100; 
}

.right {
    text-align: right;
}


span {
   color:#f4f4f4 
}


.introduction {
    background-color:rgba(135, 166, 206, 0.356);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    text-align: center;    
}

div .introduction{
    margin: 0px ;
}

.supplementary {
    font-weight: 100;
    font-style:italic;
}
